{% if (native_cluster | default(False)) %}
DOCKER_OPTS=-s {{docker_config.storage_driver}} --cluster-store={{cluster_store}} --cluster-advertise=
{%- if (swarm | default(False)) -%}
{{manage_if}}
{%- else -%}
{{hostvars[inventory_hostname]["ansible_"+manage_if]["ipv4"]["address"]}}
{%- endif -%}
:2376 -H tcp://0.0.0.0:2375 -H fd://
{% else %}
DOCKER_OPTS=-s {{docker_config.storage_driver}}
{% endif %}

{% if (proxy_env.http_proxy | default(False)) %}
HTTP_PROXY={{proxy_env.http_proxy}}
NO_PROXY={{proxy_env.no_proxy}}
{% endif %}

# This is also a handy place to tweak where Docker's temporary files go.
#export TMPDIR="/mnt/bigdrive/docker-tmp"
