{% if (native_cluster | default(False)) %}
DOCKER_OPTS=-s {{docker_config.storage_driver}} --cluster-store={{cluster_store}} --cluster-advertise={{manage_if}}:2376 -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock
{% else %}
DOCKER_OPTS=-s {{docker_config.storage_driver}}
{%- endif -%}
{%- if (docker_bip | default(False)) %} --bip={{docker_bip|default}} {% endif %}
{%- if ((k8s_ver is defined) | default(False)) %} --iptables=false --ip-masq=false --bridge=none {% endif %}

{% if (proxy_env.http_proxy | default(False)) %}
HTTP_PROXY={{proxy_env.http_proxy}}
NO_PROXY={{proxy_env.no_proxy}}
{% endif %}

# This is also a handy place to tweak where Docker's temporary files go.
#export TMPDIR="/mnt/bigdrive/docker-tmp"
