[Unit]
Description=Run Kubernates Kubelet
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker start -a k8s_kubelet
ExecStop=/usr/bin/docker stop -t 2 k8s_kubelet
ExecReload=/usr/bin/docker restart k8s_kubelet

[Install]
WantedBy=local.target
